<!DOCTYPE html>
<html>

<head>
  {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
  <meta charset="utf-8">
  <title>Stock image service</title>
  <link rel="stylesheet" href="../static/css/foundation.min.css">
  <link rel="stylesheet" href="../static/css/wireframe-theme.min.css">
  <script>document.createElement( "picture" );</script>
  <script class="picturefill" async="async" src="../static/js/picturefill.min.js"></script>
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chelsea+Market%7CRoboto">
</head>

<body class="no-js">
{{ toastr.include_toastr_js() }}
  <h2 class="hero-heading">Stock Image Service</h2>
  <form class="form-container form-container-1"  action = "/upload" method = "POST" enctype = "multipart/form-data">
     <input class="file-1" type = "file" name = "upload" multiple/>
     <input value="" name="description" type="text" class="input-1" placeholder="Enter description here">
     <button type="submit" class="button" name="upload">
      <span class="button-text-1">Upload</span>
    </button>
  </form>
  <form class="form-container" action = "/search" method="POST" enctype="multipart/form-data">
    <input value="" name="Search" type="text" class="input-2">
    <button type="submit" class="button" name="Search">
      <span class="button-text-3">Search</span>
    </button>
</form>
  <div class="container cats-for-adoption-wrapper" id="adoption">


    {% for url in image_names %}

    <div class="container info-container">
      <a href="#" class="responsive-picture picture-link-1">
        <figure>
         <img alt="results" src="data:image/jpeg;base64,{{ url[0] }}">
          <figcaption> tags: {{url[1]}}, description:{{url[2]}}</figcaption>


        </figure>
      </a>

    </div>
    {% endfor %}
  </div>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/outofview.js"></script>
  <script src="../static/js/what-input.min.js"></script>
  <script src="../static/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>
<!-- SMOOTH SCROLL -->
<script>
$(function() {
  $('a.smooth-scroll[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>
<!-- End of SMOOTH SCROLL -->
</body>

</html>